@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'MiFuente', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fonts/Adobe_Garamond_Pro_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fonts/Adobe_Garamond_Pro_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fonts/Adobe_Garamond_Pro_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MiFuente';
  src: url('/assets/fonts/Adobe_Garamond_Pro_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

.font-miFuente {
  font-family: 'MiFuente', serif;
}





